PORT="3000"

# API Keys
OPENAI_API_KEY="sk-proj-..."
GOOGLE_API_KEY="AIzaSy..."
PICONE_API_KEY="pcsk_..."

# MongoDB Atlas
ATLAS_CONNECTION_STRING="mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority"

# Langfuse
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_BASE_URL="http://localhost:3000"

# Google Cloud
GCP_PROJECT_ID="your-project-id"
GCP_CLIENT_EMAIL="your-email@project.iam.gserviceaccount.com"
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Database
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="your-db-password"
DB_NAME="your-db-name"
JWT_SECRET="your-jwt-secret"
